#contact_us {
  display: none;
  margin: 20px;
  position: absolute;
  top: 85px;
  left: 550px; /* shifted a bit right for smaller form */
  width: 350px; /* reduced from 450px */
  padding: 30px; /* reduced padding */
  border-radius: 10px;
  color: black;
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgb(190, 190, 190);
  z-index: 999;
}

.contactInput,
textarea {
  padding: 5px 0px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(190, 190, 190);
  text-align: center;
}

.contactInput {
  width: 160px; /* reduced from 200px */
  text-align: center;
}

.contactInput:hover {
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  transition: 1s;
}

#contact_us > label {
  font-size: 18px; /* slightly smaller */
}

textarea {
  width: 100%; /* takes up available width */
  border-radius: 10px;
  font-size: 18px;
}

#contactSubmit {
  padding: 8px 20px;
  border-radius: 5px;
  position: relative;
  top: 15px;
  left: 90px; /* adjusted for smaller form */
  color: blue;
  border: 2px solid black;
}

#contactSubmit:hover {
  background-color: blue;
  color: white;
  transition: 1s;
}

#ContactCrosIcon {
  width: 25px;
  position: relative;
  left: 300px; /* adjusted for smaller form */
  bottom: 20px;
  cursor: pointer;
}

#message {
  font-size: 18px;
}

#contact_us.show {
  display: block;
}
